{% extends 'base.html' %}  <!-- Extendemos de nuestro archivo base.html -->
{% load static %}  <!-- Volvemos a cargar el tag static ya que en este archivo igual accederemos a estaticos -->
<!-- Iniciamos el contenido del bloque que asignamos en nuestro template base.html por el cual sera intercambiado al momento del render -->
{% block content %}
<section class="hero is-primary">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
          Registrate
      </h1>
      <h2 class="subtitle">
          Crea tu cuenta para iniciar con Bulma ToDo List
      </h2>
    </div>
  </div>
</section>


<!-- Inicio de la seccion del formulario -->
<div class="columns is-centered form-section">
    <div class="column is-half">
        

      {% include 'notifications.html'%}

        <figure class="image container is-128x128">
            <img src="{% static 'images/chat.png' %}">

        </figure>
        
        <form action="{% url 'register_a' %}" method="post">{% csrf_token %}
          
            <div class="field">
                <label class="label">Nombre de usuario:</label>
                <div class="control has-icons-left has-icons-right">
                    {{form.username}}
                    {{form.username.errors}}
                    <span class="icon is-small is-left">
                      <i class="fas fa-user"></i>
                    </span>
                </div>
            </div>
            <div class="field">
                <label class="label">Email</label>
                <div class="control has-icons-left has-icons-right">
                    {{form.email}}
                    {{form.email.errors}}
                    <span class="icon is-small is-left">
                      <i class="fas fa-envelope"></i>
                    </span>
                    <!-- Inicio de ejemplo cuando un valor es incorrecto 
                    <span class="icon is-small is-right">
                      <i class="fas fa-exclamation-triangle"></i>
                    </span>-->
                </div>
                <!--<p class="help is-danger">This email is invalid</p>-->
            </div>
            <div class="field">
                <label class="label">Contraseña:</label>
                <div class="control has-icons-left has-icons-right">
                    {{form.password1}}
                    {{form.password1.errors}}
                    <span class="icon is-small is-left">
                      <i class="fas fa-key"></i>
                    </span>
                </div>
            </div>
            <div class="field">
                <label class="label">Repetir Contraseña:</label>
                <div class="control has-icons-left has-icons-right">
                    {{form.password2}}
                    {{form.password2.errors}}
                    <span class="icon is-small is-left">
                      <i class="fas fa-key"></i>
                    </span>
                </div>
            </div>
            <div class="field is-grouped">
                <div class="control">
                    <button class="button is-link">Enviar</button>
                </div>
                <div class="control">
                    <button class="button is-link is-light">Cancel</button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="columns is-mobile is-centered">
  <div class="column is-half is-narrow"></div>
</div>
{% endblock content %}
<!-- Fin de nuestro contenido de bloque -->
